body{
    background-color: beige;
}
main{
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}
h1{
    color: red;
    text-align: center;
}
img{
    width: 20%;
    display: block;
    margin: auto;
}
h2{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}
#articulos{
    display: flex;
}
#uno, #dos{
    margin: 5px;
    flex-basis: 50%;
}
footer p{
    text-align: center;
    background-color: aquamarine;
}
